/* hand cursor on clickable elements */
.clickable,
label,
input[type=button], input[type=submit], input[type=file],
button {
    cursor: pointer;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ee6e73;
}

mark,
.mark {
	padding: .2em;
	background-color: #fcf8e3;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}


