@import "grid.css";
@import "options.css";
@import "fonts.css";

/*
 *	HEADER
 */
header {
    height: 150px;
}

	header > div.top-block {
		line-height: 6;
		height: 90px;
	}

	header > div.top-middle-block {
		line-height: 3.6;
		height: 60px;
	}

ul li a,
.cart-font-style,
form.search label,
form.search input,
a.btn-slider {
	color: #343e5c;
	font-family: 'Montserrat', sans-serif;
	font-size: 11pt;
	font-weight: bold;
}

#logo {
	color: #3a405b;
}

/* Nav */
nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 25px;
}

/* Cart */
ul.cart > li {
	display: inline-block;
	list-style: none;
	margin-right: 5px;
}

	ul.cart > li:last-child {
		float: right;
	}

span#qty {
	background: #e3e8f0;
	width: 24px;
	height: 24px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	line-height: 24px;
  	white-space: nowrap;
  	display: block;
}

	a.qty:hover span#qty {
		background: #fff;
	}



a.sign-in {
	border-radius: 20px;
	border: 2px solid #e3e8f0;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 80px;
	background: #fff;
}

	a.sign-in:hover {
		background: #e3e8f0;
	}

/* Search */
div.search-input {
	position: relative;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding-left: 15px;
	padding-right: 10px;
}

form.search input {
	border: none;
	width: 100%;
	padding: 20px;
	padding-left: 30px;
	outline: none;
}

div.top-middle-block nav ul li:last-child {
	float: right;
}

div.top-middle-block nav ul li {
	text-transform: uppercase;
}

div.top-middle-block nav ul li a,
form.search input {
	color: #bdc2d4;
}

	div.top-middle-block nav ul li a:hover {
		color: #343e5c;
	}

button.search-btn {
	position: absolute;
    top: 22px;
    left: 10px;
    z-index: 2;
    background: transparent;
    border: none;
}

/*
 *	Banner
 */

div#banner > div {
	/*height: 500px;*/
}

div.banners {
	position: relative;
}

div.banners h1,
div.banners p,
a.btn-slider {
	position: relative;
}

div.banners h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24pt;
	color: #fff;
	top: 100px;
	left: 110px;
	line-height: 40px;
}

div.banners p {
	font-family: 'Crimson Text', serif;
	font-size: 14pt;
	color: #fff;
	width: 500px;
	top: 260px;
	left: 110px;
}

a.btn-slider {
	width: 100px;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	background: #2754eb;
	border-radius: 25px;
	color: #fff;
	bottom: 50px;
	left: 110px;
	outline: none;
}

ul.slick-dots {
	position: relative;
	top: -30px;
}

ul.slick-dots li {
	border: 1px solid #8e8f91;
	border-radius: 10px;
	height: 7px;
	width: 7px;
}

.slick-dots li button:before {
	content: '' !important;
}

.slick-active {
	background: #fff;
}

.slick-next {
	right: 50px !important;
	color: #fff;
}

.slick-next > i {
	color: #fff;
	font-size: 20px;
	vertical-align: bottom;
	border: 1px solid #494b4f;
	border-radius: 25px;
	width: 40px;
	height: 40px;
}

.slick-next > i:hover {
	background: #494b4f;
	color: #000;
}

.slick-next > i.fa-angle-right:before {
	position: relative;
	top: 10px;
	left: 1px;
}

.slick-next:before {
	content: '' !important;
}